fieldset {
  border: 1px solid #ccc;
  position: relative;
}
fieldset legend {
  position: absolute;
  background-color: #fff;
  font-size: 16px;
  left: 10px;
  width: auto;
  top: -12px;
  padding: 0 10px;
}
fieldset .list-group {
  padding-left: 15px;
  padding-right: 15px;
}

.icon {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 20px;
  top: -2px;
}
.card-footer {
  text-align: right;
}
